.container {
  width: 90vw;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;

  padding-bottom: 1rem;
}

.container header h1 { 
  font-size: 3.5rem;
  letter-spacing: .2rem;
  margin-top: 2rem;

  color: var(--white);
} 


