.select {
  height: 2.4rem;
  width: 8rem;

  padding: .3rem;
  margin-left: 1.8rem;
  
  border: none;

  background: var(--white);
  color: var(--black);
  font-size: 1rem;

  outline-offset: 2px;
  outline-color: var(--orange);
}

